.header {
    width: 100%;
    background-color: #6C5F5B;
    color: #F6F1EE;
    top: 0;
    left: 0;
    margin: 0;
    padding: 11px;
    position: fixed;
    box-shadow: 5px 5px 6px rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    text-align: center;
}