.skills-container{
  width: 90%;
  background-color: #6C5F5B;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 4px inset #79716e;
  margin-top: 20px;
  margin-bottom: 100px;

}
.skills-title {
    text-align: start;
    margin-left: 20px;
  }
  .skills-icon {
    margin-right: 10px;
    color :#ED7D31;
    font-size: 30px;

  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */

  }
  .skills-input {
    width: 70%;
    padding: 10px;
    color:black;
    background-color: #F6F1EE !important;;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 15px;
    transition: background-color 0.3s ease; 

  }
  .skills-input:hover ,.skills-input:focus {
    background-color: #a8a8a8 !important; /* Change the background color on hover */
}
.skills-new-button{
  margin-bottom: 20px;
  background-color: #ED7D31;
  border-color: 1px solid#a8a8a8;
}